.process-claim-container {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.process-claim-child {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 0 0 18px #005288;
    background-color: #005288;
}
.process-claim-container .custom-table {
    padding: 15px;
    background-color: #005288;
    font-size: 13px;
}
.process-claim-link, .process-claim-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.claimant-header-section {
    display: flex;
    justify-content: space-between;
}
.claimant-header-label {
    /*text-transform: uppercase;*/
}
.claimant-header-button {

}
.claimant-table table tr:first-child th {
    border-right: 1px solid #005288;
}

.claimant-table table tr:last-child td {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.claimant-table table tr:last-child td:last-child {
    border-right: none;
}
.claimant-label {
    color: #FFFFFF;
    /*text-transform: uppercase;*/
    font-size: 12px;
}
.claimant-header {
    color: #9e9d9d;
    /*text-transform: uppercase;*/
    font-size: 12px;
}
.claimant-table .col-3 {
    margin-top: 20px;
}


.claimant-button {
    display: flex;
    justify-content: space-between;
}
.claimant-right-section {
    display: flex;
    justify-content: right;
}
.claimant-right-section img {
    width: 28px;
    height: 28px;
    margin-right: 2px;
}

.claimant-table .qrc-button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    min-height: 50px;
    min-width: 110px;
    background-color: #FFFFFF;
    color: #000000;
    align-items: center;
    /*text-align: center;*/
    margin-right: 10px;
    box-shadow: 0 0 2px #FFFFFF;
    cursor: pointer;
}
.accept-button, .cancel-button, .claimant-header-button, .update-button {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    min-height: 50px;
    min-width: 110px;
    background-color: #022e4b;
    color: #FFFFFF;
    align-items: center;
    /*text-align: center;*/
    margin-right: 10px;
    box-shadow: 0 0 18px #022e4b;
    cursor: pointer;
}
.update-button {
    background-color: #000000;
}
.claimant-header-button {
    background-color: #000000;
    margin-top: 0;
}

.claimant-container {
    max-height: 20%;
}