.tile-card {
    /*cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #005288;
    height: 100px;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 40px;
    align-items: center;
    box-shadow: 0 0 13px #005288;*/
    border-radius: 5px;
    background: #163a5f;
    font-family: Barlow;
    font-weight: 400;
    height: 100%;
    width: 100%;
}
.tile-card-label {
    position: absolute;
    font-size: 22px;
    color: #FFFFFF;
    font-family: Barlow;
    font-weight: 400;
    margin-left: 16px;
    margin-top: 16px;
    letter-spacing: -0.47px;
    /*text-transform: uppercase;*/
}
.tile-card-data-item {   
    position: absolute; 
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 12px;
}